
#rssd-title {
    background-color:#f1f1f1;
    margin:1px;
    padding:5px 5px;
    overflow:auto;
}

#rssd-title:hover {
    cursor:pointer;
}

.rssd-list {
    /* background-color:#f1f1f1; */
    border-bottom:2px solid #dddddd;
}

#rssd-detail {
    background-color:white;
    padding:0 10px;
}

.rssd-detail-title {
    font-size:20px;
    color:blue;
}

.rssd-detail-author {
    font-size:12px;
    color:#696969;
}

.rssd-detail-content {
    margin-top:10px;
}

.reload_button {
    width:80px;
}

.markasread {
    background-color:#AFEEEE;
}

#showmode_button {
    width:120px;
}

#showmode {
    position:absolute;
    background-color:#f5f5f5;
    width:180px;
    border:solid 2px #cccccc;
}

.showmode-item {
    margin:3px;
    padding:3px;
    font-size:large;
    text-align:left;
}

.showmode-item:hover {
    cursor:pointer;
    background-color:#afeeee;
}

#showmode1 {
    float:left;
    width:20px;
    height:20px
    text-align:center;
    vertical-align:center;
}

#showmode2 {
    float:left;
    width:20px;
    height:20px
    text-align:center;
    vertical-align:center;
}

.rssd_cancel_button {
    width:100px;
    background-color:#D64937;
    color:white;
    margin:0 0 0 30px;
}

.star {
    float:left;
    width:19px;
    height:19px;
    padding:5px 5px;
    background-color:#f1f1f1;
    background-image:url(../images/star0.png);
    background-repeat:no-repeat;
    background-position:center center; 
}

.star:hover {
    cursor:pointer;
    background-image:url(../images/star0-hover.png);
}

.star1 {
    float:left;
    width:19px;
    height:19px;
    padding:5px 5px;
    background-color:#f1f1f1;
    background-image:url(../images/star1.png);
    background-repeat:no-repeat;
    background-position:center center; 
}

.star1:hover {
    cursor:pointer;
    background-image:url(../images/star1-hover.png);
}

.rssd-main-title {
    float:left;
    width:200px;
    margin-right:10px;
    overflow:hidden;
    white-space:nowrap;
}

.rssd-title-title {
    float:left;
    overflow:hidden;
    white-space:nowrap;
}

.rssd-title-date {
    float:right;
}

#tag_button {
    width:80px;
}

#tag_option {
    position:absolute;
    background-color:#f5f5f5;
    width:180px;
    border:solid 2px #cccccc;
}

.tag_item {
    margin:3px;
    padding:3px;
    font-size:large;
    text-align:left;
}

.tag_item:hover {
    cursor:pointer;
    background-color:#afeeee;
}

.tag_checkmark {
    float:left;
    width:20px;
    height:20px
    text-align:center;
    vertical-align:center;
}
